In [100]:
import pandas as pd
from bs4 import BeautifulSoup as bs
import codecs

In [101]:
# change the path down here for a different tournament

file=codecs.open("htmlFiles/cmu_cards.html", 'r')
fileStr = file.read()

In [102]:
soup = bs(fileStr, 'html.parser')
# print(soup.prettify())
body = soup.body

In [103]:
children = body.findChildren("table") # , recursive=False)
childrenP = body.findChildren("p") # , recursive=False)

In [104]:
teams = []

for p in childrenP:
    text = p.text

    #print(text[:6])
    if text[:6] == 'Team: ':
        teams.append(text[6:])

In [105]:
bigKidArray = []

In [106]:
teamCounter = 0

for teamTable in children:

    innerCounter = 0
    currArray = []

    # ADDED TO ARRAY IN THIS ORDER
    currTeamName = "none"
    currWins = 0
    currGovs = 0
    currDebater1 = "none"
    currDebater1Status = "none"
    currDebater1Speaks = -1
    currDebater1Ranks = -1
    currDebater2 = "none"
    currdebater2Status = "none"
    currDebater2Speaks = -1
    currDebater2Ranks = -1

    for tr in teamTable.findChildren("tr"):
        # print("Inner counter:", innerCounter)
        row = innerCounter

        #print(len(tr.findChildren("td")))
        #if row == 0
        loTD = tr.findChildren("td")

        if innerCounter == 0:
            debater1Block = loTD[5].text
            name1 = debater1Block[:-4]
            status1 = debater1Block[-3:]
            status1 = status1.replace('(','').replace(')','')
            
            debater2Block = loTD[6].text
            name2 = debater2Block[:-4]
            status2 = debater2Block[-3:]
            status2 = status2.replace('(','').replace(')','')
            
            currDebater1 = name1
            currDebater1Status = status1
            currDebater2 = name2
            currDebater2Status = status2
        
        if innerCounter > 0 and innerCounter <  6:
            side = loTD[1].text
            result = loTD[2].text


            if side == 'G':
                currGovs +=1
            if result == 'W':
                currWins +=1

        if innerCounter == 6:
            debater1EndLine = loTD[1].text
            debater2EndLine = loTD[2].text

            currDebater1Speaks = float(debater1EndLine.split(",")[0].replace('(','').replace(')','').strip())
            currDebater1Ranks = float(debater1EndLine.split(",")[1].replace('(','').replace(')','').strip())
            currDebater2Speaks = float(debater2EndLine.split(",")[0].replace('(','').replace(')','').strip())
            currDebater2Ranks = float(debater2EndLine.split(",")[1].replace('(','').replace(')','').strip())


        #for td in tr.findChildren("td"):
        #    print("Cell:", td.text)

        if innerCounter == 6:
            teamSummaryArray = []
            teamSummaryArray.append(teams[teamCounter])
            teamSummaryArray.append(currWins)
            teamSummaryArray.append(currGovs)
            teamSummaryArray.append(currDebater1)
            teamSummaryArray.append(currDebater1Status)
            teamSummaryArray.append(currDebater1Speaks)
            teamSummaryArray.append(currDebater1Ranks)
            teamSummaryArray.append(currDebater2)
            teamSummaryArray.append(currDebater2Status)
            teamSummaryArray.append(currDebater2Speaks)
            teamSummaryArray.append(currDebater2Ranks)

            bigKidArray.append(teamSummaryArray)

            innerCounter = 0

            # reset vals
            currTeamName = "none"
            currWins = 0
            currGovs = 0
            currDebater1 = "none"
            currDebater1Status = "none"
            currDebater1Speaks = -1
            currDebater1Ranks = -1
            currDebater2 = "none"
            currdebater2Status = "none"
            currDebater2Speaks = -1
            currDebater2Ranks = -1

            break
        else:
            innerCounter += 1
    
    teamCounter += 1

In [97]:
df = pd.DataFrame(bigKidArray, columns = ['team_name', 'wins', 'govs', 'debater_1_name', 'debater_1_status', 'debater_1_speaks', 'debater_1_ranks', 'debater_2_name', 'debater_2_status', 'debater_2_speaks', 'debater_2_ranks']) 
df.head(34)

,team_name,wins,govs,debater_1_name,debater_1_status,debater_1_speaks,debater_1_ranks,debater_2_name,debater_2_status,debater_2_speaks,debater_2_ranks
0,Audience Interaction,2,3,Dixie Muralikrishnan,N,137.0,16.0,Eric Trinh,N,142.00,13.00
1,call me swarley :),2,2,Eugenie Park,N,137.5,12.5,Jillian Sutton,N,138.75,15.00
2,Cats Gone Wild!,2,2,Eric Wang,N,128.0,17.0,Harry Xie,V,137.00,10.00
3,costar said dont tightcall,2,3,Elisa Nisly,V,132.0,15.0,Hannah Platter,V,138.00,9.00
4,Desi disappointments,1,3,Meg Kandarpa,N,121.5,13.0,Muzamil Godil,V,89.00,13.50
5,elephant$,3,3,Annette Kim,N,139.0,11.0,Jennifer He,N,136.00,14.00
6,Four Seasons Total Landscaping,2,2,Ashley Fan,N,127.5,17.0,Uma Menon,N,135.00,11.00
7,Happy birthday Jonah! I ❤ u,4,3,Emmanuel Murphy,V,150.0,12.0,Jonah Goldman,V,155.00,9.00
8,Harvard/Hopkins RS,2,2,Allie Rosenstein,N,135.0,10.0,Ben Scherzer,N,129.00,15.00
9,Joecob,3,2,Jacob Boehm,V,149.0,10.0,Joe Cox,V,148.00,13.00
10,La Croix,1,1,Daniel Kang,V,78.0,18.0,James Hu,N,86.00,12.00
11,malaysia for mun in 2013,1,3,Ananya Kalahasti,V,154.0,13.0,Maya Razmi,V,151.00,14.00
12,"My, My, My",4,3,Charlie Yang,N,138.0,12.0,Matt Mauriello,N,138.00,9.00
13,New Year Same Me,3,3,Karina Wugang,N,137.0,13.0,Saumya Malik,N,142.50,9.00
14,Pitt DL,2,2,Jake Love,V,139.0,11.0,Mackenzie DeVita,V,134.00,16.00
15,possumcore oposposting,0,0,Matt Song,V,0.0,17.5,Trent Kannegieter,V,0.00,17.50
16,Pre-Marital Sex Rejectors,1,1,Audrey Shing,V,132.5,15.0,Katrina Hotaling,V,137.50,13.75
17,Ribs by Lorde,4,2,Jonas Poggi,V,148.5,13.0,Robin Gloss,V,156.00,7.00
18,Simping for Ivan Ooze,5,3,John Youssef,V,154.0,7.0,Nick DeVito,V,153.00,10.00
19,Williams 128k,3,2,Tai Henrichs,V,141.0,16.0,Yannick Davidson,V,147.00,9.00
20,Yale CG,4,3,Alex Gordon,V,139.0,15.0,Cameron Chacon,V,152.00,5.00
21,Yale MW,2,2,Claudia Meng,V,137.5,12.5,Zhengdong Wang,V,138.75,12.50
22,Yale MY,0,3,Prastik Mohanraj,N,130.0,15.0,Shi Wen Yeo,V,127.50,17.50
23,Yale/Pitt LS,1,2,Alison Linares,N,134.0,15.0,Aryan Sehgal,N,135.00,15.00

In [107]:
df.to_csv('export_csv.csv')